@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body img {
    width: 100%;
    display: block;
    margin: 0 auto;   
}

nav {
    border-bottom: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    padding: 6px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font: bold 1em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.150);
    transition: .25s;
}